@charset 'UTF-8';
@import url(https://fonts.googleapis.com/css?family=Abel);

/* Base
------------------------------------------------------------*/

body{
	background:#f9f8f6;
}

header{
	padding:20px 0 0 !important;
}

main{
	padding:20px 0 !important;
}
#MAIN{
	margin-bottom:10px;
}
a{
	color:#524b3b;
	text-decoration: none;
}
a:hover{
	color:#776d56;
}

/* 初期化し損ねている余計な余白を解除 
------------------------------------------------------------*/
form,h1,h2,h3,h4,dl,dt,dd,ul,li{
	margin:0; padding:0;
}

/* 余計なLIのマークを初期化 
------------------------------------------------------------*/
#CAROUSEL_SLIDER{
	list-style: none;
}


/* OpenSans Font 利用CLASSを定義 
------------------------------------------------------------*/
footer small{
	font-family: 'Open Sans', sans-serif !important;
}

/* Clearfix
------------------------------------------------------------*/
.clearfix{ zoom:1; }
.clearfix:after {
	content:"";
	display:block;
	clear:both;
}

/* Align
------------------------------------------------------------*/
.text-center
{
    text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center,
section .container,


/* Font
------------------------------------------------------------*/
.abel,
#CONTENT
{
    font-family: 'Abel', sans-serif;
}

.uppercase,
#CONTENT
{
    text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/
.container{
    
}
.title
{
    clear: both;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}
#SITE-TITLE
{
    font-size: 36px;
    font-size: 3.6rem;
    line-height: normal;
}

/* main
------------------------------------------------------------*/
#MAIN{
    
}


#GENRE_LIST ul{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction:row;
	flex-direction:row;
	flex-wrap: wrap;
}
#GENRE_LIST li{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction:row;
	flex-direction:row;
	flex-wrap: wrap;
}

.genre_list li a{
	display: block;
	padding:7px;
	border:1px solid #f9f8f6;
	background: #fff;
}
.genre_list li a:hover{
  opacity:0.75;
}
.genre_list li img{
	display:block;
	width:100%;
}

#GENRE_LIST li{
	float:left;
}

/* Footer
------------------------------------------------------------*/
footer
{
    padding: 10px 0;
    text-align: center;
    /*color: #fff;
    background-color: #f08080;*/
}

footer .container{
    
}

#AREA li{
    margin:0 0 5px auto;
	text-align: center;
	padding-top:5px;
    font-size: 20px;
    font-size: 2.0rem;
    line-height: normal;
}

footer li{
	display:inline-block;
	/display:inline;
	zoom:1;
	margin:0 5px;
	padding:0 10px;
	font-size:1.2rem;
	background:url(../image/common/dot.gif) no-repeat 0 9px;
}

#ACCOUNT_MENU {
	margin:0 10px 5px auto;
	text-align: right;
    padding-top:10px;
}

#ACCOUNT_MENU i{
    font-size:1.2rem;
}

footer small{
	margin-bottom:20px;
	text-align: center;
	/*color:#b8b4ac;*/
}








